.form-cadastrar-disciplina{
    width: 400px;
    display: flex;
    flex-direction: column;

}
.form-cadastrar-disciplina>:not(:last-child){
    margin-bottom: 10px;
}

.container-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    
    
}
.input-cadastrar-disciplina{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #ccc;
}
.btn-cadastrar{
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #3f98e0, #1A73E8);
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px 3px 2px  rgba(0, 0, 0, 0.205);
     margin-top: 10px;
}
.span-cadastrar-disciplina{
    display: inline;
    font-weight: bold;
    color: #333;
}
#textarea{
    height: 80px;
    padding: 5px 5px 5px 10px;
}
