.form-consultar-alunos{
    width: 400px;
    margin-bottom: 30px;
}
#form-consultar-alunos{
display: flex;
flex-direction: column;
}
#btn-cadastrar-alunos-na-turma{
    margin-top: 20px;
}
.container-alterar{
    display: flex;
    align-items: end;
    margin-bottom: 10px;
}
#container-input-alterar1{
    margin-right: 10px;
}

#filtro-alunos{
    margin-right: 0px;
}
.container-input-consultar-alunos{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    margin-right: 20px;
    
}
.input-consultar-alunos{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #ccc;
}

.input-consultar-alunos::-webkit-inner-spin-button{
    -webkit-appearance: none;
    
}
.input-filtrar-alunos,.input-select-turma{
     width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #ccc;
    cursor: not-allowed;
}
.input-filtrar-alunos-liberado{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #ccc;
    cursor:text;
}
.container-input-turmas-alterar{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 200px;
    gap: 5px;
    
}

.btn-consultar{
    width: 100%;
    height: 30px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #3f98e0, #1A73E8);
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px 3px 2px  rgba(0, 0, 0, 0.205);
    
}


.span-consultar-alunos{
    display: inline;
    font-weight: bold;
    color: #333;
}
   
.table-consultar{
    position: relative;
    width: 100%;
}
.line-table{
    border: 1px solid black;
}
.information-table{
    padding: 10px;
    text-align: center;
    max-width: 150px;           /* limite opcional */
  white-space: nowrap;        /* impede quebra de linha */
  overflow: hidden;           /* esconde o conteúdo que passar */
  text-overflow: ellipsis;
}
.table-header{
    padding: 10px;
    color: white;
    background-color: #1561c5f1;
}


.table-consultar tbody tr:nth-child(even) {
  background-color: white; /* cinza claro */
}

.table-consultar tbody tr:nth-child(odd) {
  background-color:  #ececec; /* branco */
}

.icon-editar,.icon-ver{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.icon-ver{
    width: 30px;
    height: 30px;
}